body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
}

header div {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

header nav {
    width: 30%
}

header .logo {
    width: 70%;
}

header img {
    width: 130px;
    height: 40px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin-right: 20px;
    font-size: 1.2rem;
}

.background-image {
    margin-top: 80px;
    height: 800px;
    color: white;
    background-image: url(../images/landing.jpg);
    background-position: center;
    background-size: cover;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titles h1 {
    font-size: 70px;
}

.titles h4 {
    font-size: 25px;
    margin: 5px 0px;
}

.spotify-section h1 {
    padding-bottom: 10px;
    border-bottom: 4px solid #00B172;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

.spotify-section h2 {
    color: #00B172;
    font-size: 30px;
    font-weight: bold;
}

.spotify-section img {
    width: 60px;
    height: 60px;
}

.spotify-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.spotify-section .container {
    display: flex;
    justify-content: space-between;
    align-items: space-around;
    width: 80%;
}

.item {
    width: 25%;
    padding: 20px 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 80%;
}

.item p {
    width: 85%;
    padding-left: 20px;
    font-size: 20px;
}

.green-section {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    height: 800px;
    background-color: #00B172;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.green-section img {
    width: 400px;
    height: 600px;

}

.green-section div {
    width: 40%;
    height: 80%;

}

.left-side-text h1 {
    width: 100%;
    font-size: 40px;
    border-bottom: 4px solid white;
}

.left-side-text h2 {
    font-size: 30px;
}

.left-side-text div{
    width: 100%;
    height: 100%
    margin-top: 5px;
    margin-bottom: 5px;
}

.left-side-text {
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    color: white;
}

.left-side-text p {
    font-size: 20px;
    width: 60%;
}

.right-image {

    display: flex;
    justify-content:flex-end;
    align-items: center;
    
}

.right-image img {
    width: 60%;
    height: 90%;
}
/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
